@import "../../Dashboard/theme-vars.css";

.tagsSection {
  margin-bottom: 1.25rem;
  user-select: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.7rem;
}

.tag {
  background: var(--card-grad-start);
  color: var(--primary);
  padding: 0.4rem 0.8rem;
  border-radius: 15px;
  font-size: 0.85rem;
  font-weight: 700;
  user-select: text;
}
